<div class="overlay">
	<div class="popup">
        <h2>{{ currentSupplier?.supplierName }}</h2>
        <hr>
		<a class="close" routerLink="supplier" (click)="OnCloseSupplierDetail()">&times;</a>
		<div class="content">
			<section class="container">
                <div>
                    <p>
                        {{ currentSupplier?.supplierName }} {{ currentSupplier?.supplierSurname }}
                    </p>
                </div>
                <div>
                    <div>
                        <strong>Date of Arrival: </strong>
                        {{ currentSupplier?.supplierDateOfArrival }}
                    </div>
                    <div>
                        <strong>Final destination: </strong>
                        {{ currentSupplier?.supplierFinalDestination }} 
                    </div>
                </div>
                <div>
                    <div>
                        <strong>Priority: </strong>
                        {{ currentSupplier?.supplierPriority }}
                    </div>
                    <div>
                        <strong>Current Status: </strong>
                        {{ currentSupplier?.supplierStatus }} 
                    </div>
                </div>
            </section>
		</div>
	</div>
</div>
