<app-create-supplier-card 
        *ngIf="showCreateSupplierForm" 
        (closeForm)="closeCreateSupplierForm()"
        (emitSupplierData)="createOrUpdateSupplier($event)"
        [isEditMode]="editMode"
        [selectedSupplier]="selectedSupplier"
></app-create-supplier-card>
<app-supplier-details *ngIf="showSupplierDetails" 
(CloseDetailView)="closeSupplierDetails()"
[currentSupplier]="currentSupplier"></app-supplier-details>

<div class="dashboard-container">
    <div class="dashboard-wrapper">
        <div>
            <h2>Dobavljaci</h2>
        </div>
        <div>
            <button class="btn" (click)="OpenCreateSupplierForm()">Kreiraj</button>
            <!-- <button class="create-btn" (click)="getAllSuppliers()">Fetch Tasks</button> -->
            <button class="btn" (click)="deleteAllSuppliers()" *ngIf="allSuppliers.length > 0">Obrisi sve</button>
        </div>
    </div>

    <hr>

    <div class="dashboard-item-container">
      <div class="loader" *ngIf="isLoading"></div>
        <ng-container *ngIf="!isLoading">
          <div *ngIf="allSuppliers.length < 1">
            <h2 class="dashboard-item-heading">Jos uvek nema dobavljaca!</h2>
        </div>
          <div class="content-item" [ngClass]="'priority-' + supplier.supplierPriority" *ngFor="let supplier of allSuppliers">
            <div class="content-title">
              <h3>Supplier</h3>
            </div>
            <p><b>Assigned to: </b>{{supplier.supplierName}} {{supplier.supplierSurname}}</p>
            <p><b>Date of Arrival: </b>{{supplier.supplierDateOfArrival}}</p>
            <p><b>Begin destination: </b>{{supplier.supplierBeginDestination}}</p>
            <p><b>Final destination: </b>{{supplier.supplierFinalDestination}}</p>
            <p><b>Priority: </b>{{supplier.supplierPriority}}</p>
            <p><b>supplierStatus: </b>{{supplier.supplierStatus}}</p>
            <div class="action-icons">
              <button class="action-btn" title="Detail" (click)="showCurrentSupplierDetails(supplier.id)">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </button>
              <button class="action-btn" title="Edit" (click)="onEditSupplierClick(supplier.id)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
              <button class="action-btn" (click)="deleteSupplier(supplier.id)" title="Delete">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
            </div>
          </div>
        </ng-container>
      </div>
</div>




