/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,400;1,600&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 5px 0px;
}

small{
  color: red;
  font-weight: bold;
}

.dashboard-container{
    padding: 30px 100px;
    background-color: #e4e4e4;
}

.dashboard-wrapper{
  display: flex;
  justify-content: space-between;
}

hr{
    border: #fff 1.5px solid;
    margin: 20px 0px;
}
.dashboard-item-container{
    margin-top: 30px;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
}

.dashboard-item-heading {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
}

.action-icons{
    text-align: right;
}
.action-btn{
    margin: 0px 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
}

i{
    font-size: 16px;
}

.content-item{
    width: 25%;
    margin: 10px 10px;
    padding: 15px 30px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 3px;
}
.priority-complete{
    border-top: green 10px solid;
}
.priority-in-progress{
    border-top: orange 10px solid;
}
.priority-started{
    border-top: #3498DB 10px solid;
}
.priority-open{
    border-top: red 10px solid;
}
.supplier-title{
    border-bottom: #28282B 2px solid;
}

.create-btn{
    padding: 12px 30px;
    background-color: #28282B;
    border: #cdcdcd 1px solid;
    color: white;
    border-radius: 20px;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.popup {
  margin: 30px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 40%;
  position: relative;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .sb {
    min-width: 350px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    border-radius: 5px;
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    top: 40px; /* 30px from the bottom */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  .sb-error{
    background-color: #E74C3C; /* Black background color */
    color: #fff; /* White text color */
  }

  .sb-success{
    background-color: #1ABC9C; /* Black background color */
    color: #28282B; /* White text color */
  }

  .loader{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

  /* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 40px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 40px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 0; opacity: 0;}
  }
  


  @media screen and (max-width: 768px) {
    .container{
      padding-bottom: 50px;
    }
    .content-item{
      width: 100%;
    }
    .dashboard-item-container{
      padding: 30px 5px;
      flex-direction: column;
      align-items: center;
    }
    .dashboard-container{
      padding: 30px 40px;
    }
    .dashboard-wrapper {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    .popup{
      width: 90%;
      height: 90%;
      margin: 30px auto;
      overflow: hidden;
    }

    .popup .content {
      max-height: 100%;
    }
    .form .column {
      flex-wrap: wrap;
    }
  }